@{
    Layout = "~/Views/Login/_Layout_Login.cshtml";
}

@model HealthCare.Models.User_MasterModel
<!-- BEGIN LOGO -->
<div class="logo">
    <h2 class="bold text-danger">Welcom to Address Book</h2>
</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="container">
	<div class="screen">
		<div class="screen__content">
			<form class="login" method="post" asp-controller="User_Master" asp-action="SaveUser">
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input class="form-control form-control-solid placeholder-no-fix" type="text" asp-for="UserName" placeholder="Enter Username" />
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input class="form-control form-control-solid placeholder-no-fix" type="password" asp-for="Password" placeholder="Enter Password" />
				</div>
				<button class="button login__submit" type="submit">
					<span class="button__text">Sign In Now</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>
				<br />
				
			</form>

			<div class="social-login">
				<h3>log in via</h3>
				<div class="social-icons">
					<a href="#" class="social-login__icon fab fa-instagram"></a>
					<a href="#" class="social-login__icon fab fa-facebook"></a>
					<a href="#" class="social-login__icon fab fa-twitter"></a>
				</div>
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>
	</div>
</div>


@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}