@{
    Layout = "~/Views/Client/_Layout_Client.cshtml";
}
@using System.Data;
@model DataTable

<table class="table table-striped table-hover table-bordered text-center" id="sample_editable_1">
    <thead>
        <tr class="text-center">
            <th class="text-center"> No </th>
            <th class="text-center"> Disease Name </th>
        </tr>
    </thead>
    <tbody id="myTable">
        @{
            int i = 1;

        }
        @foreach (DataRow dr in Model.Rows)
        {
            <tr>
                <td>@i</td>
                <td>@dr["DiseaseName"]</td>
                <td>
                    <form method="post" asp-area="Client" asp-controller="Client" asp-action="Device">
                        <!--fisrt input tag int value will be pass-->
                        <input type="hidden" name="DiseaseID" value="@Convert.ToInt32(dr["DiseaseID"])" />
                        <button type="submit" class="btn btn-info" >Explore</button>

                    </form>
                </td>

            </tr>
            i++;
        }
    </tbody>
</table>
